{% extends 'admin/base.html' %}
{% block content %}

<div class="upload-div">
	<h1>Chatbot analyze <span style="font-weight:bold">{{original}}</span></h1>

	{% if message %}
		<p style="color:red">
			{{message}}
		</p>
		<p>
			{{detail}}
		</p>
		<p>
			last test message: {{last_test_message}}
		</p>
	{% endif %}
	<form enctype="multipart/form-data" method="post">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<div class="submit-row">
			<input class="submit" type="submit" value="Gönder" />
		</div>
	</form>
</div>

<style>
	.submit {
		background-color: #44AACF !important;
		font-size: 15px !important;
		color: #FFF !important;
		margin-top: 10px;
	}
	.submit:hover {
		background-color: #0076a1 !important;
	}
	table {
		width: 50%;
	}
	.red {
		color: red;
	}
	.black {
		color: black;
	}
	.bold {
		font-weight: bold;
	}
	table {
		width: 100%;
	}

</style>
{% endblock %}
