{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_list %}
{% block object-tools-items %}
<li>
	<a href="/admin/bots/bot/{{original.id}}/analyze" class="historylink">Analyze Chatbot</a>
</li>
{% endblock %}
