{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_modify %} -->
{% block object-tools-items %}

	{{ block.super }}
	<li>
		<a href="/admin/engine/module/upload-modules" class="historylink">{% trans "Upload Excel File" %}</a>
	</li>
{% endblock %}
