{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block object-tools-items %}
	<li>
		<a href="/data-editor/{{original.id}}" class="historylink">{% trans "Edit Samples" %}</a>
	</li>
{% endblock %}