{% extends "admin/base.html" %}
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}{{ title }} | Digital Assistant{% endblock %}

{% block branding %}
	<h1 id="site-name"><a href="{% url 'admin:index' %}">Digital Assistant</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
	<!--{% if site_url %}
		<a href="{{ site_url }}">{% trans 'View site' %}</a> /
	{% endif %}-->
	{% if user.is_active and user.is_staff %}
		{% url 'django-admindocs-docroot' as docsroot %}
		{% if docsroot %}
			<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
		{% endif %}
	{% endif %}
	{% if user.has_usable_password %}
	<a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
	{% endif %}
	<a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}
