{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block object-tools-items %}
	<li>
        <a href="/build-bot/{{original.id}}" class="historylink">{% trans "Build Bot" %}</a>
        <a href="/build-bot-triggers/{{original.id}}" class="historylink">{% trans "Build Bot Triggers" %}</a>
        <a href="/start-similarity-check/{{original.id}}" class="historylink">{% trans "Start Similarity Check" %}</a>
        <a href="/show-similarity-check/{{original.id}}" class="historylink">{% trans "Show Similarity Check" %}</a>
        {% if original.is_active%}
            <a href="/stop-bot/{{original.id}}" class="historylink">{% trans "Stop Bot" %}</a> 
        {% else %}
            <a href="/start-bot/{{original.id}}" class="historylink">{% trans "Sart Bot" %}</a> 
        {% endif %}
        <a href="/admin/analyze-bot/{{original.id}}" class="historylink">{% trans "Analyze Bot" %}</a>
	</li>
{% endblock %}