{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static static thumbnail admin_modify %}

{% block extrahead %}
	{{ block.super }}
	{{ media }}
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
	<a href="{% url 'admin:index' %}">{% trans 'Home' %} </a> &rsaquo;
	<a href="/admin/bots/bot/{{bot_id}}/change">Bot test</a>
  </div>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block content %}
	<div class="upload-div">
		<h1>Data set test</h1>
		{% if message %}
			<p style="color:red">
				{{message}}
			</p>
			<p>
				{{detail}}
			</p>
		{% endif %}
		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
			<div class="submit-row">
				<input class="submit" type="submit" value="Gönder" />
			</div>
		</form>
	</div>

	<style>
		.submit {
			background-color: #44AACF !important;
			font-size: 15px !important;
			color: #FFF !important;
			margin-top: 10px;
		}
		.submit:hover {
			background-color: #0076a1 !important;
		}
		table {
			width: 50%;
		}
		.red {
			color: red;
		}
		.black {
			color: black;
		}
		.bold {
			font-weight: bold;
		}
		.submit-row {
			padding: 0px 12px 8px 12px;
			background: #f8f8f8;
			border: 1px solid #eee;
			border-radius: 4px;
			overflow: hidden;
		}
	</style>
{% endblock %}
