{% load static %}

{% block content %}
<table border="1" cellpadding="5" cellspacing="2"  bordercolor="#3776ab" bgcolor="#a9a9a9">
    <td style="background-color:#3776ab">Ratio</td>
    <td style="background-color:#3776ab">Intent 1 Id</td>
    <td style="background-color:#3776ab">Sample 1</td>
    <td style="background-color:#3776ab">Intent 2 Id</td>
    <td style="background-color:#3776ab">Sample 2</td>
    {% for i in data %}
    <tr style="background-color:#d3d3d3">
        <td>{{i.ratio}}</td>
        <td>{{i.intent_1}}</td>
        <td>{{i.sample_1}}</td>
        <td>{{i.intent_2}}</td>
        <td>{{i.sample_2}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}