{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block object-tools-items %}
    {% if original.node_type == "start" %}
	    <li>
		    <a href="/create-scenario/{{original.id}}" class="historylink">  {% trans "Create Scenario" %}</a>
	    </li>
    {% else %}
        <li>
            <a href="" class="historylink"></a>
        </li>
    {% endif %}
{% endblock %}