{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Module Editor {{current_module}}</title>
    <link href="{% static 'bundles/bundle.min.css' %}" rel="stylesheet" />
  </head>
  <body>
	<div id="root"></div>
	<script>
		var current_module = {{current_module}}
	</script>
    <script src="{% static 'bundles/bundle.min.js' %}"></script>
  </body>
</html>